@font-face {
    font-family: "iconfont"; /* Project id 3478114 */
    src: url('iconfont.woff2?t=1655810036957') format('woff2'),
    url('iconfont.woff?t=1655810036957') format('woff'),
    url('iconfont.ttf?t=1655810036957') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 28px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-eye:before {
    content: "\e78f";
}

.icon-eye-fill:before {
    content: "\e869";
}

.icon-eyeclose-fill:before {
    content: "\e8ff";
}

.icon-eye-close:before {
    content: "\e900";
}